@page
@{
    ViewData["Title"] = "Ganhos";
}

<div class="container-fluid">
    <div id="ui-view">
        <div>

            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <i class="icon-chart"></i> Ganhos


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>