@page
@{
    ViewData["Title"] = "Gastos";
}

<div class="container-fluid">
    <div id="ui-view">
        <div>

            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <i class="icon-credit-card"></i> Gastos
                    
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
